* {
  margin: 0;
  padding: 0;
}

:root {
  --color-text-primary: #1b1b1b;
  --color-text-secondary: #333333;
  --color-text-headline: #e1624f;
  --color-accent-blue: #0c51a7;
  --color-accent-purple: #591b98;
  --color-accent-pink: #e5245e;
  --color-accent-orange: #e95e10;
  --color-border-primary: #d9d9d9;
  --color-bg: #f5f4f0;

  font-family: "Open Sans", sans-serif;
}
